<!doctype html>
<html lang="{{ site.data.metadata.language }}" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark">

<head>
    <meta charset="utf-8">
    <title>{{ site.data.metadata.title }}</title>
    <meta name="description" content="{{ site.data.metadata.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">

    <link rel="preload" href="{{ '/assets/css/primer.css' | relative_url }}" as="style">
    <link rel="preload" href="{{ '/assets/css/custom.css' | relative_url }}" as="style">

    <link rel="stylesheet" href="{{ '/assets/css/primer.css' | relative_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap-icons.css' | relative_url }}" media="print" onload="this.media='all'">

    <noscript>
        <link rel="stylesheet" href="assets/css/primer.css">
        <link rel="stylesheet" href="assets/css/custom.css">
        <link rel="stylesheet" href="assets/css/bootstrap-icons.css">
    </noscript>
    <meta property="og:image" content="{{ '/assets/img/thumbnail-og.png' | absolute_url }}">
    <meta property="og:title" content="Lautner's Links">
<script>navigator.serviceWorker.register("{{ '/service-worker.js' | relative_url }}")</script>
<link rel="manifest" href="{{ '/manifest.json' | relative_url }}" />
    <meta property="og:description" content="Fun Minecraft content, modded Minecraft, let's play, and challenge videos!">
</head>

<body class="p-3">
    <main class="container-md">
        {% include profile.html %}
        {% include interests.html %}
        {% include links.html %}
        {% include footer.html %}
    </main>
    <script src="{{ '/assets/js/lazy-load.js' | relative_url }}" defer></script>
</body>

</html>
